@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  padding: 0px;
  margin: 0px;
}

#root {
  width: 100vw;
  height:100vh
}

@layer base {
  .js-typo {
    @apply from-yellow-300 to-orange-600;
  }

  .ts-typo {
    @apply from-sky-800 to-sky-200;
  }

  .rs-typo {
    @apply from-orange-950 to-yellow-950;
  }

  .py-typo {
    @apply from-blue-700 to-indigo-900;
  }
}
