@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  padding: 0px;
  margin: 0px;
}

#root {
  width: 100vw;
  height: 100vh
}

@layer base {
  .js-typo {
    @apply from-yellow-300 to-orange-600;
  }

  .ts-typo {
    @apply from-sky-800 to-sky-200;
  }

  .rs-typo {
    @apply from-orange-950 to-yellow-950;
  }

  .py-typo {
    @apply from-blue-700 to-indigo-900;
  }

  .items {
    @apply grid grid-cols-3 gap-5;
  }

  .items.collapsed {
    @apply grid-rows-1 overflow-hidden;
    grid-auto-rows: 0px;
  }

  .btn-chtch-stck {
    @apply w-fit p-2 capitalize bg-gradient-to-tr rounded font-bold from-blue-500 to-indigo-800 bg-clip-text text-transparent;
    border: solid 1px;
    border-image: linear-gradient(to right top, #2563eb, #4338ca) 1;
    border-radius: 50px;
  }
}

@layer components {
  .card {
    @apply h-fit p-3 bg-transparent border text-slate-50 flex flex-col;
  }

  .card > .desc {
    @apply mt-2;
  }

  .semi-card {
    @apply text-black mt-4 p-2 rounded-md bg-slate-100 h-fit w-fit flex gap-x-4 cursor-pointer;
  }

  .tech-img {
    @apply rounded-lg;
    width: 200px;
    height: 200px;
    background-color: rgb(34, 28, 28);
    object-fit: contain;
  }
 /*  .semi-card > .desc {
    width: 180px;
    height: 100%;
  } */
}
